@model SuporteCore.Entity.Phoebus

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Phoebus</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Acquirer_nsu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Acquirer_nsu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parcels)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parcels)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Start_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Start_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Finish_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Finish_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Payment_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Payment_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Response_code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Response_code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Authorization_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Authorization_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tef_terminal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tef_terminal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Terminal_serial_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Terminal_serial_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Terminal_manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Terminal_manufacturer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Terminal_model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Terminal_model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Terminal_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Terminal_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Acquirer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Acquirer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Merchant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Merchant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tef_merchant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tef_merchant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Merchant_category_code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Merchant_category_code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Merchant_national_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Merchant_national_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Merchant_national_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Merchant_national_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Card_input_method)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Card_input_method)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Requested_password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Requested_password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fallback)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fallback)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Origin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Origin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Authorization_time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Authorization_time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client_version)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client_version)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Server_version)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Server_version)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Original_nsu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Original_nsu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Original_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Original_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Card_holder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Card_holder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nsu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nsu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Card_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Card_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Terminal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Terminal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Confirmation_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Confirmation_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_base)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_base)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-danger">Voltar</a>
</div>
