@model SuporteCore.Entity.Analise

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Analise</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CpfCnpj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CpfCnpj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeRazao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeRazao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phoebus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phoebus.Card_number)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nsu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nsu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Card_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Card_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Terminal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Terminal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Confirmation_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Confirmation_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_base)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_base)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ANaliseId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
