@model SuporteCore.Entity.Analise

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Analise</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CpfCnpj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CpfCnpj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeRazao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeRazao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phoebus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phoebus.Card_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nsu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nsu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Card_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Card_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Terminal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Terminal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Confirmation_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Confirmation_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_base)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_base)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ANaliseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
