@model ReflectionIT.Mvc.Paging.PagingList<SuporteCore.Entity.Intermeio>
@using ReflectionIT.Mvc.Paging
@addTagHelper*, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Intermeio";
}
<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="card">
        <div class="card-header">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <form asp-action="Index" class="form-inline" role="search" method="get">
                        <div class="form-group mb-2">
                            <label for="minDate">Min Data: </label>
                            <input type="date" class="form-control" name="minDate" Value="@ViewData["minDate"]" />
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            <label for="maxDate">Max Data: </label>
                            <input type="date" class="form-control" name="maxDate" Value="@ViewData["maxDate"]" />
                        </div>
                        <div class="form-group mx-sm mb-2">
                            <label> Phoebus:</label>
                            <input class="form-control" type="text" name="search" value="@ViewData["Filter"]" placeholder="Nsu, Terminal, Bandeira..." />
                        </div>
                        <div class="form-group mx-sm-2 mb-2">
                            <input type="submit" value="Pesquisar" class="btn btn-primary" />
                        </div>
                        <div class="form-group mx-sm mb-2">
                            <a asp-action="Index" class="btn btn-danger">Voltar</a>
                        </div>
                    </form>
                </div>
            </nav>
        </div>
        <div class="card-body">
            <table id="dtBasicExample" class="table table-hover table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                    <tr class="table-active">
                        <th class="th-sm" style="text-align:center">
                            Data
                        </th>
                        <th class="th-sm" style="text-align:center">
                            CNPJ
                        </th>
                        <th class="th-sm" style="text-align:center">
                            Valor
                        </th>
                        <th class="th-sm" style="text-align:center">
                            NSU
                        </th>
                        <th class="th-sm" style="text-align:center">
                            Numero Cartao
                        </th>
                        <th class="th-sm" style="text-align:center">
                            Autorizador
                        </th>
                        <th style="text-align:center">
                            Nº Serie
                        </th>
                        <th style="text-align:center">

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="th-sm" style="text-align:center">
                            <td>
                                @Html.DisplayFor(modelItem => item.Date_base)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CpfCnpj)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Valor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nsu)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Card_number)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CodAutorizacao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumeroDeSerie)
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.IntermeioId" class="btn btn-outline-info">Detalhes</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <nav aria-label="navigation" style="text-align:right">
                <vc:pager paging-list="@Model" />
            </nav>
        </div>
    </div>
</div>


